#
# Note that you need to replace the <xxx> values with the configuration
# parameters that you registered the device-simulator with. This device
# registration can either be done in the Watson IoT Platform dashboard or
# via its http API
#

iotf_org=<myOrg>
iotf_type=<myDeviceType>
iotf_id=<myId>
iotf_authtoken=<myAuthToken>
